.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* adicionado para centralizar verticalmente */
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute; /* adicionado para centralizar horizontalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type='submit'] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type='submit']:hover {
    background-color: #0069d9;
  }
  